body {
  background-color: black;
}

p,
a,
p1 {
  font-family: "Montserrat", serif;
}

/* header of the page */
header {
  display: flex;
  text-align: center;
}

.a1 {
  color: white;
  padding-left: 3rem;
  margin-left: 0;
}

p1 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 0%;
  color: white;
}

ul {
  list-style: none;
  padding-left: 10px;
  margin-top: 5px;
  text-align: center;
  display: flex;
  color: white;
}

/* Image */

.dancing-img {
  width: 40%;
}

/* main */
p {
  font-size: 1.2rem;
  font-weight: 500;
  color: white;
}

/* contact page */

.main-pgC {
  background-color: black;
  padding-bottom: 30px;
  padding-top: 10px;
  border-radius: 5px;
}

header {
  font-size: 110;
  font-weight: 600;
  color: white;
}

h1 {
  color: white;
  font-family: "Montserrat", serif;
  margin-left: 43.5%;
}

.fname-box {
  font-family: "Montserrat", serif;
  color: white;
  margin-top: 5px;
  margin-bottom: 10px;
  border-radius: 10px;
  padding-bottom: 10px;
  padding-top: 10px;
  padding-left: 5px;
}

.lname-box {
  font-family: "Montserrat", serif;
  color: white;
  margin-top: 5px;
  margin-bottom: 10px;
  border-radius: 10px;
  padding-bottom: 10px;
  padding-top: 10px;
  padding-left: 5px;
}

.email-box {
  font-family: "Montserrat", serif;
  color: white;
  margin-top: 5px;
  margin-left: 0px;
  margin-bottom: 10px;
  border-radius: 10px;
  padding-bottom: 10px;
  padding-top: 10px;
  padding-left: 5px;
}

.message-box {
  font-family: "Montserrat", serif;
  color: white;
  margin-top: 5px;
  border-radius: 10px;
  padding-bottom: 95px;
  padding-left: 5px;
  padding-top: 5px;
}

.submit-box {
  background-color: lightgreen;
  font-family: "Montserrat", serif;
  margin-top: 10px;
  border-radius: 5px;
  padding: 10px;
}

.fname,
.lname,
.email,
.message {
  color: white;
  font-family: "Montserrat", serif;
}

.contact-form {
  display: grid;
  margin-left: 35%;
  margin-right: 35%;
}

/* my works page */

a {
  color: white;
}

.work-figures {
  margin-left: 0;
}

/* footer of pages */
footer {
  border-top: 2px solid white;
  margin-top: 50px;
}
