body {
  background-color: black;
}

p,
a,
p1 {
  font-family: "Montserrat", serif;
}

/* header of the page */
header {
  display: inline;
  padding-left: 10px;
  text-align: center;
  font-size: 110;
  font-weight: 600;
  color: white;
}

.a1 {
  color: white;
  padding-left: 0rem;
  margin-left: 0;
}

p1 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 0%;
  color: white;
}

ul {
  list-style: none;
  padding-left: 10px;
  margin-top: 20px;
  text-align: start;
  display: flex;
  color: white;
  flex-direction: column;
}

li {
  padding-top: 5px;
}

/* Image */

.dancing-img {
  width: 40%;
}

/* main */
p {
  font-size: 1.2rem;
  font-weight: 500;
  color: white;
}

/* contact page */

.main-pgC {
  background-color: black;
  padding-bottom: 30px;
  padding-top: 10px;
  border-radius: 5px;
}

h1,
h2 {
  color: white;
  font-family: "Montserrat", serif;
  margin-left: 0;
  padding-left: 10px;
}

.fname-box {
  font-family: "Montserrat", serif;
  color: white;
  margin-top: 5px;
  margin-bottom: 10px;
  border-radius: 10px;
  padding-bottom: 10px;
  padding-top: 10px;
  padding-left: 5px;
}

.lname-box {
  font-family: "Montserrat", serif;
  color: white;
  margin-top: 5px;
  margin-bottom: 10px;
  border-radius: 10px;
  padding-bottom: 10px;
  padding-top: 10px;
  padding-left: 5px;
}

.email-box {
  font-family: "Montserrat", serif;
  color: white;
  margin-top: 5px;
  margin-left: 0px;
  margin-bottom: 10px;
  border-radius: 10px;
  padding-bottom: 10px;
  padding-top: 10px;
  padding-left: 5px;
}

.message-box {
  font-family: "Montserrat", serif;
  color: white;
  margin-top: 5px;
  border-radius: 10px;
  padding-bottom: 95px;
  padding-left: 5px;
  padding-top: 5px;
}

.submit-box {
  background-color: lightgreen;
  font-family: "Montserrat", serif;
  margin-top: 10px;
  border-radius: 5px;
  padding: 10px;
}

.fname,
.lname,
.email,
.message {
  color: white;
  font-family: "Montserrat", serif;
}

.contact-form {
  display: grid;
  margin-left: 35%;
  margin-right: 35%;
}

/* my works page */

a {
  color: white;
}

.work-figures {
  margin-left: 0;
  padding-left: 10px;
  animation-name: presentation;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
}

a:hover,
.work-figures:hover {
  animation-name: hover-scale;
  animation-duration: 1.5s;
}

.work-imgs {
  width: 70%;
}

.ghost-reaper-pic {
  width: 20%;
}

.ghost-reaper-text {
  color: white;
  margin-top: 0;
  padding-left: 20px;
}

.ghost-reaper-main {
  display: flex;
  grid-template-columns: repeat(3, 1fr);
}

.rick-sanchez-pic {
  width: 30%;
}

.rick-sanchez-text {
  color: white;
  margin-top: 0;
  padding-left: 20px;
}

.rick-sanchez-main {
  display: flex;
}

.porsche-flyer-pic {
  width: 20%;
}

.porsche-flyer-text {
  color: white;
  margin-top: 0px;
  padding-left: 20px;
}

.porsche-flyer-main {
  display: flex;
}

.grafik-design-pic {
  width: 100%;
}

.grafik-design-text {
  color: white;
  margin-top: 0px;
  padding-left: 20px;
}

.grafik-design-main {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.restaurant-logo-pic {
  width: 100%;
}

.restaurant-logo-text {
  color: white;
  margin-top: 0px;
  padding-left: 20px;
}

.restaurant-logo-main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.DT-IA-pic {
  width: 100%;
}

.DT-IA-text {
  color: white;
  margin-top: 0px;
  padding-left: 20px;
}

.DT-IA-main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
/* resopoinsive website */

@media screen and (min-width: 575px) {
  .all-works-preview {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  header {
    display: flex;
  }

  .work-imgs {
    width: 100%;
  }

  .a1 {
    padding-left: 3rem;
  }

  ul {
    text-align: center;
    display: flex;
    padding-left: 10px;
    margin-top: 5px;
    flex-direction: row;
  }

  h1 {
    color: white;
    font-family: "Montserrat", serif;
    margin-left: 43.5%;
  }
}

@media screen and (min-width: 850px) {
  .all-works-preview {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  header {
    display: flex;
  }

  .work-imgs {
    width: 100%;
  }

  h1 {
    color: white;
    font-family: "Montserrat", serif;
    margin-left: 43.5%;
  }
}

/* footer of pages */
footer {
  border-top: 2px solid white;
  margin-top: 50px;
}

/* animation for my works */
@keyframes presentation {
  25% {
    transform: scale(1.05);
  }
}

@keyframes hover-scale {
  50% {
    transform: scale(1.05);
  }
}

/* last assignment stuff */

.fade-out {
  opacity: 0;
  transform: scale(0.9);
}

.fade-in {
  display: block !important;
  opacity: 1 !important;
}

.contact-form {
  transition: all 0.5s ease-in-out;
}

#submittedMessage {
  display: none;
  font-size: 24px;
  color: white;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}
