p,
a,
p1 {
  font-family: "Montserrat", serif;
}

/* header of the page */

p1 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 0%;
}

ul {
  list-style: none;
  padding-left: 0;
}

a {
  color: black;
}

/* Image */

.dancing-img {
  width: 40%;
}

/* main */
p {
  font-size: 1.2rem;
  font-weight: 500;
}
